<table class="table table-{{ linker }}">
	<thead>
		<tr>
			<th>
				Level
			</th>
			<th>
				Runner
			</th>
			<th>
				World Record
			</th>
			<th>
				Link
			</th>
			<th>
				Graphs
			</th>
		</tr>
	</thead>
	<tbody>
	{% for time in bestTimes %}
		<tr>
			<th>
				{{ time.level.name }}
			</th>
			<th>
				{{ time.user }}
				{% if time.user != app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{% set alreadyFollow = false %}
					{% for follower in app.user.followers %}
						{% if follower == time.user %}
							<span class="follow" user="{{ time.user }}">Unfollow</span>
							{% set alreadyFollow = true %}
						{% endif %}
					{% endfor %}
					{% if alreadyFollow == false %}
						<span class="follow" user="{{ time.user }}">Follow</span>
					{% endif %}
				{% endif %}
			</th>
			<th>
				{{ time.time|secToHms }}
				{% if not time.verified %}
				<i class="fa fa-warning timeVerification" game="{{ time.level.game.slug }}" time="{{ time.id }}" style="color: tomato; cursor: pointer;"></i>
				{% endif %}
			</th>
			<th>
				{{ time.video|getHost }}
			</th>
			<th>
				<a href="{{ path('yapspeedrun_levelgraph', {'slug': time.linker.game.slug, 'level': time.level.slug, 'linker': time.linker.id, 'levelId': time.level.id}) }}">Graph</a>
			</th>
		</tr>
	{% endfor %}				
	</tbody>
</table>
