{% extends "YapSpeedrunBundle::layout.html.twig" %}

{% block title %}
	{{ game.name }} - {{ parent() }}
{% endblock %}

{% block yapspeedrun_body %}
	<div class="row">
		<div class="large-12 gameTitle">
			<h2 class="gameTitleName">{{ game.name }}</h2>
			<div class="gameTitleImg">
				<img src="{{ vich_uploader_asset(game, 'imageFile') }}">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-3 large-push-9 column">
			<div>
				<h4>Validation process:<h4>
				<span class="validateGame">Give 3 stars if you think that the game's <a href="#" class="tooltip-bottom" data-tooltip="This needs to be the correct and entire name, not just an abreviation.">name</a>, <a href="#" class="tooltip-bottom" data-tooltip="The image must correspond to the game and must integrate the style.">image</a> and <a href="#" class="tooltip-bottom" data-tooltip="All levels must be there and in the correct order. The last level need to be 'full game'.">levels</a> are correct!
				</span>
			</div>
			<div>
				<h4>Admin Panel</h4>
				<a href="{{ path('yapspeedrun_editgame', {'slug': game.slug}) }}">Edit {{ game.name }}</a><br/>
				<a href="{{ path('yapspeedrun_validategame', {'slug': game.slug}) }}">Validate {{ game.name }}</a><br/>
			</div>
		</div>
		<div class="large-9 large-pull-3 column">
			<h3>List of levels :</h3>
			<ol>
			{% for level in game.levels %}		
				<li>{{ level.name }}</li>
			{% endfor %}	
			</ol>
		</div>
	</div>
	<!--<div class="row">
		<div class="col-md-offset-2 col-md-8">
			{% for linker in game.linkers %}
			<p>{{ linker.name }}</p>
			{#{{ render(controller("YapSpeedrunBundle:Speedrun:chart", {'linker': 13})) }}#}
			{% endfor %}
		</div>
	</div>-->

{% endblock %}

{% block javascripts %}

{{ parent() }}

<script type="text/javascript">
	$('.example').popover();
</script>

{% endblock %}